.fondo{
    background-color: white;

}
.botonr{
    width: 100px;
    height: 100px;
    background: red;
}
.botonv{
    width: 100px;
    height: 100px;
    background: green;
}
.botona{
    width: 100px;
    height: 100px;
    background: blue;
}

.fondo.rojo{
    width: 1000px;
    height: 1000px;
    background-color: red;
}
.fondo.verde{
    width: 1000px;
    height: 1000px;
    background-color: green;
}
.fondo.azul{
    width: 1000px;
    height: 1000px;
    background-color: blue;
}